#sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1099;
}

@media (max-width: 991.98px) {
  .sidebar-open #sidebar-overlay {
    display: block;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.navbar > .container,
.navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

@media (min-width: 768px) {
  .content-wrapper,
  .main-footer {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 250px;
    z-index: 3000;
  }
}

@media screen and (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .content-wrapper,
  .main-footer,
  .main-header {
    transition: none;
  }
}

@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .main-footer {
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .content-wrapper,
  .content-wrapper:before,
  .main-footer,
  .main-footer:before,
  .main-header,
  .main-header:before {
    margin-left: 0;
  }
}

.content-wrapper {
  background: #f4f6f9;
}

.content-wrapper > .content {
  padding: 0 0.5rem;
}

.main-sidebar {
  position: fixed;
  top: 72px;
  left: 0;
  bottom: 0;
}

.main-sidebar,
.main-sidebar:before {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 250px;
}

@media screen and (prefers-reduced-motion: reduce) {
  .main-sidebar,
  .main-sidebar:before {
    transition: none;
  }
}

.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar:before {
  margin-left: -250px;
}

@media (max-width: 991.98px) {
  .main-sidebar,
  .main-sidebar:before {
    box-shadow: none !important;
    margin-left: -250px;
  }
  .sidebar-open .main-sidebar,
  .sidebar-open .main-sidebar:before {
    margin-left: 0;
  }
}

.navbar-badge {
  position: absolute;
  top: 9px;
  right: 5px;
  font-size: 0.6rem;
  font-weight: 300;
  padding: 2px 4px;
}

.brand-link {
  padding: 0.8125rem 0.5rem;
  font-size: 1.25rem;
  display: block;
  line-height: 1.5;
  white-space: nowrap;
}

.brand-link:hover {
  color: #fff;
  text-decoration: none;
}

.brand-image {
  float: left;
  line-height: 0.8;
  max-height: 34px;
  width: auto;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  margin-top: -3px;
}

.main-sidebar {
  z-index: 1100;
  height: calc(100vh - 72px);
  overflow-y: hidden;
}

.sidebar {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow-y: auto;
  height: calc(100% - 4rem);
}

.user-panel {
  position: relative;
}

.user-panel,
.user-panel .info {
  overflow: hidden;
  white-space: nowrap;
}

.user-panel .image {
  padding-left: 0.8rem;
  display: inline-block;
}

.user-panel img {
  width: 2.1rem;
  height: auto;
}

.user-panel .info {
  display: inline-block;
  padding: 5px 5px 5px 10px;
}

.nav-sidebar .nav-item > .nav-link {
  margin-bottom: 0.2rem;
}

.nav-sidebar .nav-item > .nav-link .right {
  transition: transform ease-in-out 0.3s;
}

.nav-sidebar .nav-link > p > .right {
  position: absolute;
  right: 1rem;
  top: 12px;
}

.nav-sidebar .menu-open > .nav-treeview {
  display: block;
}

.nav-sidebar .menu-open > .nav-link .right {
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.nav-sidebar > .nav-item {
  margin-bottom: 0;
  display: block;
  width: 100%;
}

.nav-sidebar > .nav-item .nav-icon {
  text-align: center;
  width: 1.6rem;
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.nav-sidebar > .nav-item .float-right {
  margin-top: 3px;
}

.nav-sidebar .nav-treeview {
  display: none;
  list-style: none;
  padding: 0;
}

.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon {
  width: 1.6rem;
}

.nav-sidebar .nav-link p {
  display: inline-block;
  margin: 0;
}

.sidebar-dark-primary {
  background-color: #343a40;
}

.sidebar-dark-primary .user-panel a:hover {
  color: #fff;
}

.sidebar-dark-primary .user-panel .status {
  color: #c2c7d0;
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-dark-primary .user-panel .status:active,
.sidebar-dark-primary .user-panel .status:focus,
.sidebar-dark-primary .user-panel .status:hover {
  color: #fff;
  background: rgba(247, 247, 247, 0.1);
}

.sidebar-dark-primary .user-panel .dropdown-menu {
  border-color: rgba(242, 242, 242, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.sidebar-dark-primary .user-panel .dropdown-item {
  color: #212529;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link:active,
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link:focus {
  color: #c2c7d0;
}

.sidebar-dark-primary .nav-sidebar > .nav-item.menu-open > .nav-link,
.sidebar-dark-primary .nav-sidebar > .nav-item:hover > .nav-link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  color: #fff;
  background-color: #007bff;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-treeview {
  background: 0 0;
}

.sidebar-dark-primary .nav-header {
  color: #d0d4db;
  background: inherit;
}

.sidebar-dark-primary .sidebar a {
  color: #c2c7d0;
}

.sidebar-dark-primary .sidebar a:hover {
  text-decoration: none;
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
  color: #c2c7d0;
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active,
.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link.active:hover {
  color: #343a40;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 992px) {
  .sidebar-mini .nav-sidebar,
  .sidebar-mini .nav-sidebar .nav-link,
  .sidebar-mini .nav-sidebar > .nav-header {
    white-space: nowrap;
    overflow: hidden;
  }
  .sidebar-mini.sidebar-collapse .d-hidden-mini {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 4.6rem !important;
  }
  .sidebar-mini.sidebar-collapse .nav-sidebar .nav-header {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .brand-text,
  .sidebar-mini.sidebar-collapse .nav-sidebar .nav-link p,
  .sidebar-mini.sidebar-collapse .sidebar .user-panel > .info {
    opacity: 0;
    margin-left: -10px;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar,
  .sidebar-mini.sidebar-collapse .main-sidebar:before {
    margin-left: 0;
    width: 4.6rem;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar .user-panel .image {
    float: none;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar:hover {
    width: 250px;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel {
    text-align: left;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel .image {
    float: left;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-text,
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar .nav-link p,
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel > .info {
    opacity: 1;
    margin-left: 0;
    display: inline-block;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-image {
    margin-right: 0.5rem;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .sidebar-form,
  .sidebar-mini.sidebar-collapse .main-sidebar:hover .user-panel > .info {
    display: block !important;
    -webkit-transform: translateZ(0);
  }
  .sidebar-mini.sidebar-collapse
.main-sidebar:hover
.nav-sidebar
> .nav-item
> .nav-link
> span {
    display: inline-block !important;
  }
  .sidebar-mini.sidebar-collapse .visible-sidebar-mini {
    display: block !important;
  }
}

.nav-sidebar {
  position: relative;
}

.nav-sidebar:hover {
  overflow: visible;
}

.nav-sidebar > .nav-header,
.sidebar-form {
  overflow: hidden;
  text-overflow: clip;
}

.nav-sidebar .nav-item > .nav-link {
  position: relative;
}

.nav-sidebar .nav-item > .nav-link > .float-right {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}

.main-sidebar .brand-text,
.sidebar .nav-link p,
.sidebar .user-panel .info {
  transition: margin-left 0.3s linear, opacity 0.5s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  .main-sidebar .brand-text,
  .sidebar .nav-link p,
  .sidebar .user-panel .info {
    transition: none;
  }
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar-badge {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.6rem;
  font-weight: 300;
  padding: 2px 4px;
  color: #1f2d3d;
  background-color: #ffc107;
}

.main-header {
  border-bottom: 1px solid #dee2e6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  height: 72px;
}

.main-header .nav-logo {
  max-height: 50px;
  width: 200px;
  margin-right: 10px;
  text-align: center;
}

.main-header .nav-logo img {
  max-height: 50px;
}

.main-header .nav-right {
  margin-left: auto;
}
